<footer class="page-footer">
    <p class="footer-copyright">© Copyright 2024</p>
    <!-- <p>Autores: Joan Ibica, Marlon Gomez, Angelica Tibasosa, Fander Navas, David
        Blanco, Javier Parales, Juan Sora y Santiago Parra.</p> -->
    <p>Autores: Equipo Front-End</p>
</footer>