<html lang="es"></html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../styles/menu_style.css">
    <link rel="stylesheet" href="../styles/404.css">
</head>
<body></body>
    <%- include('../partials/nav.ejs') %>%>
    <main>
        <div class="container">
            <h1>404</h1>
            <h2>Página no encontrada</h2>
            <h4>¿Quieres volver al <a href="/menu">menu</a>?</h4>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>

</html>