<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../styles/menu_style.css">
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <main>
        <div class="title">
            <h1>Bienvenido a Banco Petro</h1>
        </div>
        <% if (successRegister == true) { %>
            <div class="success-message-container">
                <p>¡Registro realizado con éxito!</p>
            </div>
        <% } %>
        <% if (successUpdate == true) { %>
            <div class="success-message-container">
                <p>¡Actualización de datos realizado con éxito!</p>
            </div>
        <% } %>
        <% if (successDelete == true) { %>
            <div class="success-message-container">
                <p>¡Eliminación de usuario realizado con éxito!</p>
            </div>
        <% } %>
        <div class="content-cards">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">
                        <h4>Registrar</h4>
                    </div>
                    <p>Aquí puede registrar un nuevo usuario</p>
                    <div class="card-btn">
                        <a class="reg" href="/menu/register">Registrar</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="card-title">
                        <h4>Actualizar</h4>
                    </div>
                    <p>Aquí puede registrar un nuevo usuario</p>
                    <div class="card-btn">
                        <a class="act" href="/menu/update">Actualizar</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="card-title">
                        <h4>Eliminar</h4>
                    </div>
                    <p>Aquí puede registrar un nuevo usuario</p>
                    <div class="card-btn">
                        <a class="eli" href="/menu/delete">Eliminar</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>

</html>